In [2]:
import pandas as pd
import glob
import os

In [6]:
data = pd.concat([pd.read_excel(f, 'Results') for f in glob.glob('/Users/gocchini/Desktop/lit_paper_3/data/*.xlsx')], ignore_index = True)

In [8]:
data.to_pickle('/Users/gocchini/Desktop/lit_paper_3/data/data_almost_complete.pkl')

In [46]:
london_postcodes = pd.read_csv('/Users/gocchini/Desktop/lit_paper_3/london_postcodes-ons-postcodes-directory-feb22.csv')

In [97]:
def data_processing(data, london_data): 
    data = data.loc[(data['Inactive'] == 'No')]
    data = data[data['Primary UK SIC (2007) code'].notna()]
    data = data[data['Primary trading address'].notna()]
    data = data.drop_duplicates(keep=False)
    data['postcode'] = data['Primary trading address'].apply(lambda x: x.split(',')[-1])
    data['postcode'] = data['postcode'].apply(lambda x: x[1:])
    london_postcodes = london_data['pcd'].tolist()
    london_df = data[data['postcode'].isin(london_postcodes)]
    return london_df

In [100]:
london_df = data_processing(data , london_postcodes)

In [101]:
london_df

,Unnamed: 0,Company name,Inactive,Quoted,Branch,OwnData,Woco,R/O Full Postcode,Primary UK SIC (2007) code,Primary trading address,Website,R/O Address,"R/O Address, line 1","R/O Address, line 2","R/O Address, line 3",R/O Full Postcode.1,Primary trading address City,postcode
43,44.0,KOKNI ORGANISATION LONDON LIMITED,No,No,No,No,No,NW9 0BA,88990.0,"75 Coniston Gardens, London, London, NW9 0BA",www.kcl.org.uk,"75 Coniston Gardens, London, NW9 0BA",75 Coniston Gardens,NaN,NaN,NW9 0BA,London,NW9 0BA
55,56.0,FOOD FOR ALL (LONDON) LIMITED,No,No,No,No,No,N16 6PA,47290.0,"3 Cazenove Road, Stoke Newington, London, Lond...",www.foodforall.co.uk,"3 Cazenove Road, Stoke Newington, London, N16 6PA",3 Cazenove Road,Stoke Newington,NaN,N16 6PA,London,N16 6PA
83,84.0,MOORE STEPHENS INTERNATIONAL LIMITED,No,No,No,No,No,SE1 3TQ,96090.0,"5 Market Yard Mews, 194-204 Bermondsey Street,...",www.sequel.com,"5 Market Yard Mews, 194-204 Bermondsey Street,...",5 Market Yard Mews,194-204 Bermondsey Street,NaN,SE1 3TQ,London,SE1 3TQ
86,87.0,VEROPAK LIMITED,No,No,No,No,No,DA1 4HY,28220.0,"73 Swaisland Drive, Crayford, Dartford, Kent, ...",www.veropak.co.uk,"73 Swaisland Drive, Crayford, Dartford, Kent, ...",73 Swaisland Drive,Crayford,NaN,DA1 4HY,Dartford,DA1 4HY
108,109.0,CHELLBROOK PROPERTIES LIMITED,No,No,No,No,No,KT6 4DX,68209.0,"16 St. Philips Road, Surbiton, Surrey, KT6 4DX",www.chellbrook.co.uk,"16 St. Philips Road, Surbiton, Surrey, KT6 4DX",16 St. Philips Road,NaN,NaN,KT6 4DX,Surbiton,KT6 4DX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766971,74873.0,TOTALPLUS SERVICES LTD.,No,No,No,No,No,W1B 5TE,78109.0,"c/o Gpc Financial Management, 423 Linen Hall, ...",www.totalpluscleaners.com,"c/o Gpc Financial Management, 423 Linen Hall, ...",c/o Gpc Financial Management,423 Linen Hall,NaN,W1B 5TE,London,W1B 5TE
2767009,74911.0,M. K. WALSH LIMITED,No,No,No,No,No,EN4 8EB,43999.0,"76 Alverstone Avenue, East Barnet, Barnet, Her...",www.billwalshstreator.com,"76 Alverstone Avenue, East Barnet, Barnet, Her...",76 Alverstone Avenue,East Barnet,NaN,EN4 8EB,Barnet,EN4 8EB
2767041,74943.0,VITAS CONSTRUCTION LTD,No,No,No,No,No,HA3 7JP,41202.0,"8 Fisher Road, Harrow, Middlesex, HA3 7JP",www.vita-construction.com,"8 Fisher Road, Harrow, Middlesex, HA3 7JP",8 Fisher Road,NaN,NaN,HA3 7JP,Harrow,HA3 7JP
2767055,74957.0,GOLDSTAR DRY CLEANERS (UK) LIMITED,No,No,No,No,No,E14 7DL,96010.0,"330 Burdett Road, London, London, E14 7DL",www.goldstardrycleaning.co.uk,"330 Burdett Road, London, E14 7DL",330 Burdett Road,NaN,NaN,E14 7DL,London,E14 7DL
2767092,74994.0,BENCHA LIMITED,No,No,No,No,No,CR2 0NP,69109.0,"6 Purley Oaks Road, Sanderstead, South Croydon...",bencha-limited.6-purley-oaks-road.sanderstead....,"6 Purley Oaks Road, Sanderstead, South Croydon...",6 Purley Oaks Road,Sanderstead,NaN,CR2 0NP,South Croydon,CR2 0NP

In [30]:
import geopandas 
import geopy

In [32]:
locator = geopy.geocoders.Nominatim(user_agent='myGeocoder')

In [33]:
locator

In [35]:
location = locator.geocode('Champ de Mars, Paris, France')

In [36]:
location

Location(Champ de Mars, Rue de la FÃ©dÃ©ration, Quartier de Grenelle, Paris 15e Arrondissement, Paris, ÃŽle-de-France, France mÃ©tropolitaine, 75015, France, (48.85614465, 2.297820393322227, 0.0))

In [38]:
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))

Latitude = 48.85614465, Longitude = 2.297820393322227

https://data.london.gov.uk/dataset/postcode-directory-for-london